In [1]:
import pandas as pd
df = pd.read_csv('adult.data.csv')
df.index = df['race']
race_counts = df.groupby(df.index).size()
race_counts

race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
dtype: int64

In [2]:
df = pd.read_csv('adult.data.csv')

In [3]:
print(df)

       age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[32561 rows x 15 columns]

In [5]:
df.index

RangeIndex(start=0, stop=32561, step=1)

In [6]:
df['race']

0        White
1        White
2        White
3        Black
4        Black
         ...
32556    White
32557    White
32558    White
32559    White
32560    White
Name: race, Length: 32561, dtype: object

In [6]:
#1
df.index = df['race']
race_counts = df.groupby(df.index).size()
race_counts

race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
dtype: int64

In [7]:
#2
df[df['sex'] == 'Male']['age'].mean()

39.43354749885268

In [8]:
#3
bachelor_count = df[df['education'] == 'Bachelors'].shape[0]
total_count = df.shape[0]
bachelor_percentage = (bachelor_count/total_count)*100
bachelor_percentage

16.44605509658794

In [9]:
#4
ed = pd.concat([df[df['education'] == 'Bachelors'],df[df['education'] == 'Masters'],df[df['education'] == 'Doctorate']], axis=0)
ed_count = ed[ed['salary'] == '>50K'].shape[0]
ed_percentage = (ed_count/total_count)*100
ed_percentage

10.706059396210192

In [18]:
#5
noned = pd.concat([df[df['education'] != 'Bachelors'],df[df['education'] != 'Masters'],df[df['education'] != 'Doctorate']], axis=0)
noned_count = noned[noned['salary'] == '>50K'].shape[0]
noned_percentage = (noned_count/total_count)*100
noned_percentage

61.53680783759713

In [37]:
#6
min_hours = df[df['hours-per-week'] == df['hours-per-week'].min()]
min_hours_counts = min_hours[min_hours['salary'] == '>50K'].shape[0]
min_hours_percentage = (min_hours_counts/total_count)*100
min_hours_percentage

0.006142317496391388

In [69]:
#7
high_salary = df[df['salary'] == '>50K']
totalhigh_salary = high_salary.shape[0]
group_country = high_salary.groupby(high_salary['native-country']).size()
max_country = group_country.max()
max_percent = (max_country/totalhigh_salary)*100
max_percent

91.45517153424308

In [108]:
#8
india_salary = high_salary[high_salary['native-country'] == 'India']
group_india = india_salary.groupby(india_salary['occupation']).size()
group_india

occupation
Adm-clerical         1
Exec-managerial      8
Other-service        2
Prof-specialty      25
Sales                1
Tech-support         2
Transport-moving     1
dtype: int64